@charset "utf-8";
@import 'bulma';
@import '~bulma-extensions';

h1 {
  color: blue;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#profilePic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-bottom: 40px;
}

i {
  font-size: 50px;
  padding: 10px;
  color: #fafafa;
}

.skills-icon-wraper {
  padding: 8px;
  width: 20%;
}

.icons {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: inherit;
}

.slick-track {
  opacity: 1;
  width: 8649px;
  transform: translate3d(-960px, 0px, 0px);
}
