@charset "utf-8";
@import 'bulma';
@import '~bulma-extensions';

h1 {
  color: blue;
}

#profilePic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-bottom: 40px;
}

.skills-icon-wraper {
  padding: 10px;
  width: 25%;
}

.icon {
  font-size: 40px;
}

.icon-link {
  font-size: 20px;
}

.sqlite {
  height: 37px;
}

.sqlite-project {
  height: 60px;
  padding-bottom: 10px;
}

.icons {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.icon-project {
  margin-top: 30px;
}

.icons-project {
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: inherit;
}

.project-slide {
  margin: 0 20px;
}

.project-slide img {
  width: auto;
  margin: 0 auto;
}

.icon-wraper-project {
  padding: 10px;
  width: 20%;
}

.icon-wraper-hero {
  padding: 10px;
  display: inline-block;
  flex-wrap: wrap;
}

.icon-wraper-repo {
  padding: 10px;
  display: inline-block;
  flex-wrap: wrap;
}
