@charset "utf-8";
@import 'bulma';
@import '~bulma-extensions';

h1 {
  color: blue;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#profilePic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-bottom: 40px;
}

.skills-icon-wraper {
  padding: 8px;
  width: 20%;
}

.icon {
  font-size: 40px;
}

.icons {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.icon-project {
  margin-top: 30px;
}

.icons-project {
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: inherit;
}

.project-slide {
  margin: 0 20px;
}

.project-slide img {
  width: auto;
  margin: 0 auto;
}
